.two {
	margin: 3em 0;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10em;
}

.two-text {
	width: 50%;
	padding: 1em;
}

.two-text p {
	width: 75%;
}

.two-text p ul li {
	list-style-type: none;
	margin: 2em 0;
	width: 100%;
}

.image-wrapper {
	width: 40%;
	height: 500px;
	background-color: black;
	display: flex;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.reverse {
	flex-direction: row-reverse;
}

.reverse .two-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.reverse .two-text h2 {
	text-align: end;
}

.reverse p {
	text-align: end;
}
